.container {
  padding: 60px 200px;
}
.form {
  margin-top: 80px;
  margin-bottom: 40px;
  min-height: 300px;
}
.form-item {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.label {
  margin-bottom: 20px;
}
.two-column {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}
.form-item-left {
  margin-right: 40px;
  width: 220px;
}
